# Association Rule Mining Project

In [1]:
# Load the dataset
import pandas as pd

In [3]:
# Define the path to your CSV file
groceries_csv_path = 'data/Groceries_dataset.csv'

# Read the CSV file into a pandas DataFrame
groceries_df = pd.read_csv(csv_path)

# Now you can work with your DataFrame (df)
groceries_df.head()  # Example: Display the first few rows

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk